header {
    width: 100%;
    height: 10%;
    position: relative;
}

#title {
    background-image: url("../images/title.png");
    background-size: 100%;
    position: relative;
    top: 15%;
    width: 100%;
    color: deepskyblue;
    text-align: center;
    font-size: 40px;
    cursor: default;
}

nav {
    position: absolute;
    z-index: 2;
    top: 15%;
    width: 100%;
    font-size: 18px;
    color: snow;
}

.navLeftDiv {
    position: relative;
    float: left;
    left: 3%;
    white-space: nowrap;
}

.navRightDiv {
    position: relative;
    float: right;
    right: 4%;
    white-space: nowrap;
}

.navLeftSpan,
.navRightSpan {
    margin: 0 4%;
    cursor: pointer;
}

#timeClock {
    cursor: default;
}
#timeDiv {
    display: inline-block;
}
