#leftLine {
    position: relative;
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.left_div {
    height: 42%;
    border: snow solid 1px;
    position: relative;
}

#tripNumTitleDiv,
#migrationMapTitleDiv {
    position: absolute;
    z-index: 2;
    top: calc(-10%);
    width: 100%;
    text-align: center;
}

#tripNumTitleDiv span,
#migrationMapTitleDiv span {
    display: inline-block;
    color: lightskyblue;
    font-size: large;
    font-weight: bold;
}

#stateSelectButton {
    position: absolute;
    top: calc(3%);
    right: calc(3%);
    z-index: 2;
    color: white;
    background-color: #0b122e;
    font-size: small;
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 2px;
}

#tripNumDivByTime,
#tripNumDivBySpace {
    position: relative;
    width: calc(100%);
    height: calc(100%);
}
#tripNumDivBySpace {
    display: none;
}

#migrationMapDiv {
    position: relative;
    width: calc(100%);
    height: calc(100%);
    background-color: transparent;
}
