#middleLine {
    width: 52%;
    height: 100%;
}
.middleLineDiv {
    position: relative;
    width: calc(100%-80px);
    margin-left: 40px;
    margin-right: 40px;
    border: aliceblue solid 1px;
}
#mainMapAndTitle {
    margin-bottom: 20px;
    height: 440px;
}

#mainMapTitle p {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 3px;
    font-size: large;
    font-weight: bold;
}
#mainMapSelect {
    position: absolute;
    z-index: 2;
    right: calc(1.5%);
    top: calc(2%);
}
#mainMapSelectBtn {
    color: white;
    background-color: #0b122e;
    border: 1px solid darkgray;
    border-radius: 5px;
}

#mainMapDiv {
    position: relative;
    width: calc(100%);
    height: calc(100%);
}

#messageFlowDiv {
    position: relative;
    width: calc(100%);
    height: 170px;
}
