.middleLine {
    width: 52%;
    height: auto;
    float: left;
}

.middleLine .middleDiv {
    width: calc(100%-40px);
    margin-left: 20px;
    margin-right: 20px;
    border: aliceblue solid 1px;
}

#mainMapTitle p {
    text-align: center;
    color: #00F6FF;
    padding-bottom: 3px;
    font-size: large;
    font-weight: bold;
}

#mainMap {
    height: 520px;
}