.rightLine {
    width: 24%;
    float: right;
}

.rightLine .right_div {
    height: 300px;
    border: aliceblue solid 1px;
    margin-bottom: 20px;
    position: relative;
}

#regionNumDiv {
    position: relative;
    width: calc(100%);
    height: calc(100%);
}

#areaSelectDiv {
    position: relative;
    text-align: center;
}

#areaSelectDiv span {
    color: white;
}

#areaSelectDiv select {
    position: relative;
    color: white;
    display: inline;
    border: 1px solid darkgray;
    border-radius: 25px;
}

#vehicleTypeDiv {
    position: relative;
    width: calc(100%);
    height: 270px;
}
