#rightLine {
    position: relative;
    width: 24%;
    display: flex;
    flex-direction: column;
}

.right_div {
    height: 300px;
    border: aliceblue solid 1px;
    position: relative;
    margin-bottom: 40px;
}

#regionStayNumDiv {
    position: relative;
    width: calc(100%);
    height: calc(100%);
}

#areaSelectDiv {
    position: absolute;
    text-align: center;
    top: 25px;
    left: calc(30%);
    z-index: 2;
}

#areaSelectDiv span {
    color: white;
}

#areaSelectDiv select {
    position: relative;
    color: white;
    background-color: #0b122e;
    display: inline;
    border: 1px solid darkgray;
    border-radius: 5px;
}

#vehicleTypeDiv {
    position: relative;
    width: calc(100%);
    height: calc(100%);
}
