* {
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}

body {
    height: 100%;
    /* background-color: #0b122e; */
    background: url("../images/background.png");
    background-size: cover;
    position: relative;
}
