* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0b122e;
}

header {
    width: 100%;
    height: 64px;
    background-image: url("./images/title.png");
    background-size: 100%;
    text-align: center;
    color: #00f6ff;
    font-size: 40px;
    margin: 10px 0;
}

#main {
    position: relative;
    width: calc(100%-40px);
    margin-left: 20px;
    margin-right: 20px;
}
