#rightLine {
    position: relative;
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.right_div {
    height: 42%;
    border: snow solid 1px;
    position: relative;
}

#regionStayNumTitleDiv,
#vehicleTypeTitleDiv {
    position: absolute;
    z-index: 2;
    top: calc(-10%);
    width: 100%;
    text-align: center;
}

#regionStayNumTitleDiv span,
#vehicleTypeTitleDiv span {
    display: inline-block;
    color: lightskyblue;
    font-size: 1.2rem;
    font-weight: bold;
}

#selectTopNDiv {
    top: 1%;
    position: absolute;
    z-index: 2;
    width: 80%;
    text-align: center;
    left: 10%;
    color: snow;
    font-size: 1rem;
}

#selectTopN {
    background-color: #0c1d30;
    border: 0px;
    border-bottom: 1px solid #dbdbdb;
    width: 1.2rem;
    outline: none;
    text-align: center;
}

#regionStayNumDiv {
    position: relative;
    width: calc(100%);
    height: calc(100%);
}

#areaSelectDiv {
    position: absolute;
    text-align: center;
    top: calc(3%);
    right: calc(3%);
    z-index: 2;
    font-size: 1rem;
}

#areaSelectDiv span {
    color: white;
}

#areaSelect {
    position: relative;
    color: white;
    background-color: #0b122e;
    display: inline;
    border: 1px solid darkgray;
    border-radius: 5px;
    outline: none;
}

#vehicleTypeDiv {
    position: relative;
    width: calc(100%);
    height: calc(100%);
}
