*{
    margin: 0;padding: 0;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.body{
    background-color: #081832b5;
}
.body1{
    background-color: #081832;
}
.sm_section{
    margin: 10px auto;
}
.left{
    float: left;
}
.right{
    float: right;
}

.message_fieldset{
    height:100px;
    width: 700px;
    margin: 10px 490px;
    border-radius: 5px;
    border:1px solid #cccccc;

}
.message_fieldset legend{
    color:#c6e5f6b8;
    font-size: 20px;
}
.message_fieldset .message_con{
    width: 98%;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px;

}
.message_table{
    border-width: 0px;
    padding: 0px;
    margin: 0px 120px;
    border-spacing: 15px;
    /*border-collapse: collapse;*/
    font-size:18px;
    color: #b7b6c9
}
.message_fieldset .message_con label{
    font-size: 13px;
    font-weight: 600;
    width: 10%;
    display: inline-block;
    text-align: right;
    color:#eeeeee ;
}
 .message_con p{
    padding-left: 10%;
    font-size: 13px;
     padding-top: 10px;
     padding-bottom: 10px;
    color: #b98129;
}
.message_con .message_input{
    width: 80%;
    height: 30px;
    border:1px solid #4b8df8;
    border-radius: 5px;
    outline: none;
}
.message_con .message_select{
    width: 80%;
    height: 32px;
    border:1px solid #4b8df8;
    border-radius: 5px;
    outline: none;
}
.message_con .must{
    color: red;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    top:3px;
}
.message_con input[type=radio]{
    width: 14px;
    height: 14px;
    position: relative;
    top:3px;
    margin-left: 25px;
    margin-right: 5px;
}
.message_con input[type=checkbox]{
    width: 14px;
    height: 14px;
    position: relative;
    top:3px;
    margin-left: 25px;
    margin-right: 5px;
}
.font_color{
    color: #eeeeee;
    font-size: 13px;
}

.bule{
    background-color: #4b8df8;
}
.orgen{
    background-color: #ff6b29;
}